.list-card {
  transition: all 0.3s ease;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    transform: scale(1.05);
  }

  .list-card-text {
    color: black;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    opacity: 0.8;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
}
